
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  z-index: 1;
}

body > #wrapper {
  overflow: auto;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.cont {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

ul{
  /* flexboxで等間隔に並べる*/
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 20px;
}

li{
  /* 枠線をつけて1列に5つ並べる */
  border: solid 1px #ded7c6;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-bottom: 10px;
  width: 19%;
  /* 正方形にするのに必要な部分 */
  height: auto;
  position: relative;
}

li:before {
  content: "";
  display: block;
  padding-top: 100%; /* ここを100％にすることで正方形になる */
}

li span{
  /* 正方形にするのに必要な部分 */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* 中央寄せ */
  text-align: center;
  padding: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* 高さの中央揃えに必要な部分 */
li span:before{
  content: "";
  height: 100%;
  vertical-align: middle;
  width: 0;
  display: inline-block;
}

li span > *{
  vertical-align: middle;
  display: inline-block;
}

li span img{
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

#canv {
  width: 100vw;
  height: 100vh;
}

